amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
billiard==3.3.0.23
celery==3.1.25
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
decorator==4.1.2
Django==1.11.4
django-admin-bootstrapped==2.5.7
django-authtools==1.6.0
django-braces==1.11.0
django-celery==3.2.1
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-environ==0.4.3
easy-thumbnails==2.4.1
future==0.16.0
google-api-python-client==1.6.2
httplib2==0.10.3
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
jsonpath-rw==1.4.0
kombu==3.0.37
lxml==3.8.0
oauth2client==4.1.2
olefile==0.44
parsel==1.2.0
Pillow==4.2.1
ply==3.10
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.2.0
pytz==2017.2
queuelib==1.4.2
requests==2.18.3
rsa==3.4.2
Scrapy==1.4.0
scrapy-djangoitem==1.1.1
scrapy-splash==0.7.2
selenium==3.4.3
service-identity==17.0.0
six==1.10.0
sqlparse==0.2.3
Twisted==17.5.0
uritemplate==3.0.0
urllib3==1.22
w3lib==1.18.0
Werkzeug==0.12.2
wikipedia==1.4.0
zope.interface==4.4.2
